/* Template Nme: Twenty Seventeen child
Description:Child theme seventeen
Author: Adolfo Augusto
Version: 1.0.0
Template: twentyseventeen
*/

@import url("../twentyseventeen/style.css");

.single-resources .posted-on .updated{
	display: block;
}
.single-resources .posted-on .updated::before{
	content: 'Updated: ';
}